@model RetailApp.Models.Schedule

@{
    ViewBag.Title = "ScheduleDetails";
}

<h2>ScheduleDetails</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.EmployeeId)
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>







    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditSchedule", new { id = Model.ScheduleId }) |
    @Html.ActionLink("Back to List", "AllSchedules")
</p>
