@model IEnumerable<RetailApp.Models.Catalog>

@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>

<table class="table table-hover table-responsive table-bordered table-striped">
    <tr class="info">           
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feature1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feature2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>     
            @Html.HiddenFor(modelItem => item.Product_Id)      
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feature1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feature2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
    </tr>
}

</table>
